@media screen and (max-device-width: 768px) and (min-width: 767px){
html {
      -webkit-text-size-adjust: none;
   }
header{
  	max-width: 768px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	}
.container { 
  max-width: 768px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}
img {
  width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
.title{
height: 170px;
color: black;
font-size: 40px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.6px;
margin-left: 22%;
}
.title h1{
	font-size:37px;
	padding-top:40px;
}
.wrapper{
height: auto;
margin-top: 9%;
}
.contacts{
    position:absolute;
	width: 313px;
    height: 128px;
	margin-top: 33%;
	font-size: 14px;
	border-bottom:4px double black;
	border-top:4px double black
	}
.contacts {
	margin-left: 33%;
	opacity: 1;
}
.contacts li{
color: #404040;
padding-left: 2%;
padding-top: 3%;
}

/*contacts*/
.c-header{
	width: 60px;
	height: 100px;
	margin-top: auto;
	float:none;
		}
	.c-header li{
	border-bottom: #404040 solid 2px;
	}

.site{
	width: 138px;
	height: 138px;
	float: center;
	position: absolute;
			}
.site a img{
width: 138px;
height: 138px;
}
.box_site{
	height: 334px;
	width: 21%;
	position: relative;
	margin-top: 65px;
	float:left;
	padding-left:22%;
}
.site__show3 {
margin-top: -2px;
}
.site__show4 {
margin-top: -2px;
}
.pos1 {
	margin-top: 165px;
}
.pos1 a img {
	height: 138px;
}
.pos4 {
	margin-top: 165px;
}
.pos4 a img {
	height:138px;
}
.pos6{
	margin-top: 165px;
}
.pos8{
	margin-top: 165px;
}
footer{
height:226px;
float:center;
}
.date_f  {
position:absolute;
padding-left: 40%;
padding-top: 24%;
font-size: 12px;
}
 .fon_n {
    width: 100px;
    height: 180px;
    float: left;
    margin-top: -51px;
    margin-left: 10%;
    line-height: 1.5;
    padding-top: 7.5%;
	font-size:10px;
   }
 .skills {
    padding-top:5px;
	}
 .s_skills {
    font-size: 16px;
}
.c-header {
    width: 60px;
    height: 120px;
   margin-top: -15px;
    float: none;
	font-size:9px;
}
.social__box{
width:183px;
padding-top: 10%;
margin-left:42%;
}
.social__box i{
font-size:30px;
 }	